<!DOCTYPE html>
<html xmlns:th="https//www.thymeleaf.org">
<head>
<title th:text="${review.title}"></title>
<link rel="stylesheet" type="text/css"
	href="/css/ReviewPageStyleSheet.css" />
</head>
<body>

	<h1 id="heading" th:text="${review.title}"></h1>
	<div id="container">
		<img id="picture" th:src="@{/images/{image}(image=${review.image})}" />
	</div>

	<p id="category" th:text="${review.category}"></p>
	<p id="content" th:text="${review.content}"></p>
	<a href="http://localhost:8080/show-all-reviews">Back to home</a>
</body>
</html>